@import "@fontsource/jetbrains-mono/latin.css";

html {
    font-family: serif;
    font-size: 18px;
    line-height: 1.5;
    word-break: break-word;

    background-color: #000;
    color: #fff;
}

h1.title,
h2.title {
    font-size: 25px;
    margin: 10px;
    font-family: "Meiryo", serif;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;
}

a,
a * {
    color: chocolate;
    cursor: pointer;
}

body {
    margin: 2px 10px 2px 10px;
    font-family: "JetBrains Mono", "Meiriyo", serif;
}

* {
    user-select: auto;
    cursor: auto;
}

code,
pre {
    font-family:
        JetBrains Mono,
        monospace;
    background-color: #f6f6f6;
    border-radius: 5px;
}

code {
    padding: 2px;
}

pre {
    padding: 10px;
    white-space: pre-wrap;
}

#kohkoku {
    display: none;
}

.tab {
    background-color: #fff;
    color: #000;
    margin: 10px;
    padding: 20px;

    border: 2px solid #999;
}

span.created-date {
    font-size: 0.8rem;
    font-style: italic;

    color: gray;
}

button.btn-open-answer {
    background-color: #bbb;
    color: #000;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

button.btn-open-answer:hover {
    background-color: #999;
    cursor: pointer;
}

div.answer-select div.answer-input > select {
    padding: 5px 10px;
    font-size: 1.15rem;
}

div.answer blockquote {
    border-left: 4px solid #666;
    margin-left: 15px;
    padding: 10px 5px;
}

.answer-hidden {
    display: none;
}

div.answer-text div.answer-input > textarea {
    width: 100%;
    height: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    resize: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    width: fit-content;
}

@media (min-width: 400px) {
    .tabs {
        display: flex;
        justify-content: space-between;
    }

    .tab.body {
        width: 50%;
        padding: 100px;
    }

    .tab.problems {
        width: 40%;
        overflow: scroll;

        position: sticky;
        height: 90vh;
        top: 20px;
    }
}

@media print {
    .tab {
        max-width: 100% !important;
    }

    .tab.problems {
        page-break-before: always;
        overflow: visible;
        position: static;
    }

    .tabs {
        display: block;
    }

    .tab {
        border: none;
    }

    .answer-input {
        display: none;
    }

    .answer-hidden {
        display: block;
    }

    button.btn-open-answer {
        display: none;
    }
}
