title {
    font-size: 25px;
    margin: 10px;
    font-family: "Meiryo", serif;
}

div.problem-info {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 60vw;
}

div.problem-info h3 {
    margin-top: 5px;
}

.date {
    font-size: 0.8rem;
    font-style: italic;
    color: gray;
}

.difficulty {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: bold;

    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

span.difficulty.d-easy {
    background-color: #c03a3a;
}

span.difficulty.d-normal {
    background-color: #439ee1;
}

span.difficulty.d-hard {
    background-color: #be4cea;
}

span.difficulty.d-experimental {
    background-color: #3f3f3f;
}

span.difficulty.d-unknown {
    background-color: #3f3f3f;
}
