input {
    width: 250px;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
    cursor: text;
}

button {
    cursor: pointer;
    color: black;
    height: 22px;
}

div#resolve-status-indicator > span {
    font-size: 12px;
    margin-left: 5px;
}

div#resolve-status-indicator.congratulations {
    font-weight: bold;
    font-size: 22px;
}
